{% extends "profile_base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}Activation complete{% endblock %}
{% block content %}
		<div id="breadcrumbs"><a href="/accounts/register/">Register</a></div>
		<div id="main">
			<div id="col1">
			<h1>Activation complete</h1>
<div id="stats"></div>
<h2>Step 3: There is no step 3!</h2>
<p>Your account is all set up. Get started by <a href="/accounts/login/">logging in</a>.</p>
			</div>
			<div id="col2">
			</div>
			<div class="clear"></div>
			<div id="footer">
				EdMoney is a project of the <a href="http://www.ewa.org/">Education Writers Association</a>. Development by <a href="http://www.hotttypeconsuling.com">HotType Consulting</a>. Web design by <a href="http://www.upstatement.com">Upstatement</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}
