{% extends "profile_base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}Logout{% endblock %}
{% block content %}
		<div id="breadcrumbs"><a href="/profiles/">Profiles</a></div>
		<div id="main">
			<div id="col1">
			<h1>Logout</h1>
<div id="stats"></div>
<h2>You have logged out.</h2>
<p>Thanks for spending time on the site today. If you logged out by mistake, <a href="/accounts/login/">log back in.</a></p>
			</div>
			<div id="col2">
			</div>
			<div class="clear"></div>
			<div id="footer">
				EdMoney is a project of the <a href="http://www.ewa.org/">Education Writers Association</a>. Development by <a href="http://www.hotttypeconsuling.com">HotType Consulting</a>. Web design by <a href="http://www.upstatement.com">Upstatement</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}

