{% extends "profile_base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}Reset your password{% endblock %}
{% block content %}
		<div id="breadcrumbs"><a href="/profiles/">Profiles</a></div>
		<div id="main">
			<div id="col1">
			<h1>Check your email</h1>
<div id="stats"></div>
<h2></h2>
<p>{% trans "We've sent you an email with password reset instructions." %}</p>
			</div>
			<div id="col2">
			</div>
			<div class="clear"></div>
			<div id="footer">
				EdMoney is a project of the <a href="http://www.ewa.org/">Education Writers Association</a>. Development by <a href="http://www.hotttypeconsuling.com">HotType Consulting</a>. Web design by <a href="http://www.upstatement.com">Upstatement</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}