{% extends "profile_base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}Contact Us{% endblock %}
{% block content %}
		<div id="breadcrumbs"><a href="/contact/">Contact Us</a></div>
		<div id="main">
			<div id="col1">
			<h1>Contact Us</h1>
<div id="stats"></div>
<h2></h2>
<p>Got something on your mind? Let us know.</p>
<p>Contact Lori Crouch at EWA at <script type = "text/javascript"> 
user = 'lcrouch';
site = 'ewa.org';
document.write('<a href=\"mailto:' + user + '@' + site + '\">');
document.write(user + ' AT ' + site + '</a>');
</script></p> 


			</div>
			<div id="col2">
			</div>
			<div class="clear"></div>
			<div id="footer">
				EdMoney is a project of the <a href="http://www.ewa.org/">Education Writers Association</a>. Development by <a href="http://www.hotttypeconsuling.com">HotType Consulting</a>. Web design by <a href="http://www.upstatement.com">Upstatement</a>
			</div>
		</div>
	</div>
	</div>
{% endblock %}