{% extends "base.html" %}
{% block content %}
	<h1 id="logo" class="autoMargin"><img src="http://hottype.s3.amazonaws.com/edmoney/images/logo_384.png" alt="EdMoney.org" title="EdMoney.org" /></h1>
	<div id="surface_hair"></div>
	<div id="surface_stripA">
	<div id="surface">
		<h2><span class="blue">With billions spent, how is the economic stimulus reaching America&rsquo;s schools?</span> <span class="green">Coming soon, EdMoney will track stimulus spending in public schools across the country to find out.</span></h2>
	</div>
	</div>
{% endblock %}
